<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <authentication mode="Forms">
        <forms loginUrl="~/Login.aspx" slidingExpiration="true" timeout="30" name="Web_After" />
      </authentication>
      <authorization>
        <deny users="?" />
      </authorization>
      <pages autoEventWireup="true" compilationMode="Always" validateRequest="false" />
    </system.web>
    <appSettings>
      <!--Oracle连接字符串-->
      <add key="strconn" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.20.70.21)(PORT=1521))(CONNECT_DATA=(SID=cusdoc)));User Id=cusdoctool;Password=custool20160718;Pooling=true;Min Pool Size=100;Max Pool Size=1000;" />
      <add key="strconn_base" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.20.70.21)(PORT=1521))(CONNECT_DATA=(SID=cusdoc)));User Id=cusdoc;Password=cusdoc2016;Pooling=true;Min Pool Size=100;Max Pool Size=1000;" />
      <!--获取Redis缓存库的路径-->
      <add key="RedisServer" value="172.20.70.20" />
      <add key="UrlPrefix" value="http://localhost:8013" />
      <add key="Version" value="20170809" />
      
      <add key="strconn_z" value="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.252.14)(PORT = 1521))(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.252.15)(PORT = 1521))(LOAD_BALANCE = yes))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = custdb)(FAILOVER_MODE =(TYPE = SELECT)(METHOD = BASIC)(RETRIES = 180)(DELAY = 5))));User Id=cusdoctool;Password=custool20160718;Pooling=true;Min Pool Size=100;Max Pool Size=1000;"/>
      <!--获取Redis缓存库的路径-->
      <add key="RedisServer_z" value="192.168.252.8" />
      <add key="UrlPrefix_z" value="http://192.168.252.5:8012" />
      <add key="PdfPwd" value="gwyks_admin" />
      
    </appSettings>

  <location path="BeforeMaintain/NoticeEdit.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0" maxRequestLength="2097151" />
      <pages validateRequest="false" />
    </system.web>
  </location>

  <location path="BeforeMaintain/NoticeEdit_Publish.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0" maxRequestLength="2097151" />
      <pages validateRequest="false" />
    </system.web>
  </location>
  
  <location path="PdfEdit.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="PdfTab.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="PdfTabNew.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="PdfView.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  
  <location path="SplitPDF.svc">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="WsZip.asmx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <security>
      <requestFiltering>
        <!--500MB-->
        <requestLimits maxAllowedContentLength="500000000" />
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISplitPDF" maxBufferPoolSize="2147483647"
            maxReceivedMessageSize="2147483647"/>

        <binding   closeTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"
      maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
        </binding >
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
</configuration>
